{%block front_matter %}{% endblock %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:700|Muli:400,700|Playfair+Display:400,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" type="image/png" href="/images/home/favicon.png">
  </head>
  <body class="footer-background {{ bodyClass }}">
    {% block content %}{% endblock %}
    <!-- footer -->
    <footer class="expanded row align-justify align-middle unstack-medium">
        <div class="mail-footer small-9 columns">
            <p class="get-in-touch">Get in touch:</p>
            <a id="mail" href="mailto:hello@alessiolaiso.com">hello@alessiolaiso.com</a>
        </div>
        <div class="social-home">
            <a href="https://www.linkedin.com/in/alessiolaiso" target='_blank' class="social-icons linkedin-icon"><img src="/images/home/linkedin.svg" alt="LinkedIn"></a>
            <a href="https://twitter.com/AlessioLaiso" target='_blank' class="social-icons twitter-icon"><img src="/images/home/twitter.svg" alt="Twitter"></a>
            <!--<a href="https://medium.com/@AlessioLaiso" target='_blank' class="social-icons medium-icon"><img src="/images/home/medium.svg" alt="Medium"></a>-->
            <p class="copyright">© Alessio Laiso</p>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="/js/app.js"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
