{% set title = "Runtastic | Alessio Laiso" %}
{% set description = "The Runtastic app lets you easily track your runs and fitness activities. With over 100 million users, it’s the most popular running app for smartphones, as well as being the best-selling app overall in multiple countries." %}

{% extends "portfolio/_layout.html" %}
{% block content %}
<!-- Top nav -->
<div class="fixed-custom">
    <nav class="top-bar">
        <a href="/portfolio" class="top-bar-title">Alessio Laiso</a>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="hide-for-small-only"><a href="/portfolio">Projects</a></li>
                <li><a href="/portfolio/about">About</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Hero -->
<header class="hero-project">
    <div class="row">
        <div class="medium-10 medium-offset-1 large-offset-0 large-7  columns">
            <h1>Runtastic</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 medium-offset-1 large-offset-0 large-7 columns">
            <p>The Runtastic app lets you easily track your runs and fitness activities. With over 100 million users,
                it’s the most popular running app for smartphones, as well as being the best-selling app overall in
                multiple countries.</p>
        </div>
    </div>
    <div class="row project-info runtastic-project">
        <div class="small-4 medium-2 medium-offset-1 large-offset-0 columns">
            <h5 class="first-project-info">Company</h5>
            <p>Runtastic</p>
        </div>
        <div class="small-8 medium-6 large-3 columns">
            <h5>Timeframe</h5>
            <p>Sep 2014–Dec 2015</p>
        </div>
        <div class="show-for-large-only large-2 columns"></div>
        <div class="large-5 columns">
            <img class="show-for-large-only" src="images/runtastic/runtastic-galaxy.png">
        </div>
    </div>
</header>
<!-- Story -->
<section class="project-main small-12 columns">
    <div class="project-story runtastic-project">
        <h6 id="my-role-and-the-team">My role and the team</h6>
        <h3>Running ahead of the competition</h3>
        <p>Health and fitness is an extremely competitive space for mobile apps. In a team of four, I was one of the two
            designers who mostly focused on the Android version of Runtastic. I was also involved in cross-platform user
            research and user experience discussions, as well as producing designs for A/B testing on iOS and assets
            like icons and illustrations. We were constantly working on the Runtastic app to further refine the UX and
            polish the UI, to keep the app an industry leader. Note: in September 2019 the app was rebranded and is now 
            available as Adidas Running by Runtastic.</p>
        <h6 id="kudos">Kudos</h6>
        <h3>Award-winning design</h3>
        <p>Shortly after I started working at Runtastic, the company launched the Material Design overhaul of the
            flagship app. In the following months, we received some feedback from Google and I took the responsibility
            of redesigning some of the screens as well as designing some news ones. The newly introduced running
            leaderboard, for example, added an important social element that significantly increased user engagement.
        </p>
        <figure>
            <img src="images/runtastic/runtastic-leaderboard.png"
                alt="The running leaderboard as it appears on Android devices">
            <figcaption>The running leaderboard lets users compare with their friends to know who is running the longest
                distance</figcaption>
        </figure>
        <p class="runtastic-leaderboard-img">Following these updates, the Runtastic app for Android was included in the
            Editor’s choice collection and was one of the 15 apps included in the Material Design Showcase at Google I/O
            2015.</p>
        <figure>
            <img src="images/runtastic/runtastic-google-play.png"
                alt="A tablet showing Runtastic among the 'Apps with best-in-class Android design' on Google Play, and a phone showing Runtastic as number 1 app for Health & Fitness on Google Play.">
            <figcaption>Runtastic was included in the Material Design Showcase at Google I/O 2015 (bottom left) and is
                the top health and fitness app in many markets (right).</figcaption>
        </figure>
        <h6 id="icons-and-illustrations">Icons and illustrations</h6>
        <h3>Finding a consistent voice</h3>
        <p>Runtastic’s imagery was quite inconsistent when I joined the company. During my time there I produced many
            illustrations, mostly to be used in the apps, and I led the team effort to find a new style that could be
            easily used by everyone in the team in a consistent way.</p>
        <figure>
            <img src="images/runtastic/runtastic-illustrations.png"
                alt="Three illustrations: one with a podium, one with a beach and a volley-ball net, one with a phone with earphones">
            <figcaption>Some in-app illustrations I produced for the Runtastic app.</figcaption>
        </figure>
        <figure class="runtastic-pattern-img">
            <img src="images/runtastic/tileable-pattern.png"
                alt="An illustrated pattern with elements including phones, running shoes, trophies and more">
            <figcaption>This tileable pattern for backgrounds was one of the distinctive elements of the new
                illustration style.</figcaption>
        </figure>
        <p>In addition to this, I also designed the next evolution of the Runtastic icon set, optimizing the icons on
            the pixel grid and using consistent visual traits across over 100 icons.</p>
        <figure>
            <img src="images/runtastic/icons-old-new-set.png"
                alt="Four icons of the old set compared with the icons from the new set">
            <figcaption>Some icons from the old set (top) compared with icons from the redesigned set (bottom). The new
                icons are simpler and more consistent.</figcaption>
        </figure>
        <figure>
            <img class="p-between-img" src="images/runtastic/icons-icons-grid.png"
                alt="Two icons of the new set showing that the design fits the pixel grid perfectly">
            <figcaption>All the icons from the redesigned set are based on a 48px grid and share common visual traits.
            </figcaption>
        </figure>
        <h6 id="important-featuring">Important featurings</h6>
        <h3>More love from Google and Facebook</h3>
        <p>In the Spring of 2015 Google UK launched a campaign for Android with the slogan “Be together. Not the same.”
            Runtastic had a huge featuring in this, and I worked to provide assets for printed billboards, Android.com,
            promotional videos, and more.</p>
        <figure>
            <img src="images/runtastic/runtastic-android-com.png"
                alt="The Android site featuring Runtastic on the home page">
            <figcaption>A screenshot of Android.com featuring the Runtastic app in 2015.</figcaption>
        </figure>
        <figure class="runtastic-london-img">
            <img src="images/runtastic/runtastic-google-london.jpg"
                alt="The London underground with a large Android billboard showing Runtastic">
            <figcaption>Android billboards featuring the Runtastic app in London in 2015. Photo: Google.</figcaption>
        </figure>
        <p>The Runtastic app was also featured in the “Build better” video series by Facebook, for the F8 conference in
            2015. The video tells the story of rapper Masta Ace, and shows how Runtastic is part of his life and the
            lives of many other people around the world.</p>
        <iframe
            src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fruntastic%2Fvideos%2F10150665040344978%2F&width=650&show_text=false&height=343&appId"
            width="100%" height="343" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true"></iframe>
    </div>
</section>
<!-- Project nav -->
<nav class="project-nav expanded row">
    <a class="previous-project small-6 columns" href="/portfolio/zalando-business-platform">
        <p class="project-nav-text prev-nav-text">Previous</p>
        <p class="project-nav-title prev-title">Zalando Business Platform</p>
    </a>
    <a class="next-project small-6 columns" href="/portfolio/runtastic-libra">
        <p class="project-nav-text next-nav-text">Next</p>
        <p class="project-nav-title next-title">Runtastic Libra for Android</p>
    </a>
</nav>
{% endblock %}
