{%block front_matter %}{% endblock %}
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <meta name="theme-color" content="#2E6F88">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono:700|Muli:400,700|Playfair+Display:400,900"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="icon" type="image/png" href="/images/home/favicon.png">
</head>

<body class="footer-background {{ bodyClass }}">
  {% block content %}{% endblock %}
  <!-- footer -->
  <footer class="expanded">
    <div class="row">
      <div class="small-12 medium-6 large-8  columns">
        <h4>Alessio Laiso Type</h4>      
        <p>Crafting retail & custom fonts</p>
        <p class="copyright">© All rights reserved</p>
      </div>
      <div class="small-12 medium-3 large-2 columns shop-footer">
        <h6>Shop fonts</h6>
        <a href="https://www.fontspring.com/foundry/alessio-laiso-type?refby=alessiolaiso" class="footer-shop-link" target="_blank">Fontspring</a><br>
        <a href="http://www.myfonts.com/foundry/Alessio_Laiso_Type/?refby=alessiolaiso" class="footer-shop-link" target="_blank">MyFonts</a>    
      </div>
      <div class="small-12 medium-2 columns contact-footer">
        <h6>Get in touch</h6>
        <a id="mail" href="mailto:hello@alessiolaiso.com">hello@alessiolaiso.com</a>  
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  <script src="/js/app.js"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>
