{% set title = "About - Alessio Laiso Type" %}
{% set description = "Alessio Laiso Type is an independent type foundry established in 2013 and based in Lisbon, Portugal." %}
{% set nav_title = "Alessio Laiso Type" %}

{% extends "_layout.html" %}

{% block content %}

<!-- Top nav-->
<div class="fixed-custom">
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <div class="title-bar-title">{{ nav_title }}</div>
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  </div>

  <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text hide-for-small-only"><a href="/">{{ nav_title }}</a></li>
        <ul class="menu vertical medium-horizontal">
          <li><a href="/index#retail-home-section">Retail fonts</a></li>
          <li><a href="/custom-fonts">Custom fonts</a></li>
          <li><a href="#">About</a></li>
          <li><a href="https://www.fontspring.com/foundry/alessio-laiso-type?refby=alessiolaiso" target="_blank" class="external-nav hide-for-medium">Shop on Fontspring</a></li>
          <li><a href="http://www.myfonts.com/foundry/Alessio_Laiso_Type/?refby=alessiolaiso" target="_blank" class="external-nav hide-for-medium">Shop on MyFonts</a></li>
        </ul>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="https://www.myfonts.com/collections/alessio-laiso-type-foundry?sort_by=best-selling?refby=alessiolaiso" target="_blank"
            type="button" class="button hide-for-small-only shop-nav-button">Go to shop</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Header -->
<header class="row header-custom-about">
    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
      <h2>About Alessio Laiso Type</h2>
    </div>
</header>

<!-- Main content -->
<section>
  <div class="row content-custom-about">
    <div class="small-12 medium-8 medium-offset-2 large-6 large-offset-3 columns">
      <p>Alessio Laiso Type is an independent type foundry established by Alessio Laiso in 2013. Based in Lisbon, Portugal, 
        the foundry publishes original retail typefaces and provides custom type services for clients of all sizes around 
        the world.<br><br>
        In addition to this work, Alessio Laiso speaks at design conferences and meetups, hosts workshops, and collaborates 
        with open source projects such as Google Fonts.<br><br>   
        A variety of international brands have used fonts from Alessio Laiso Type, including eBay, Amazon, USA Today, 
        GlobalGiving, 7-Eleven and the Italian Space Agency. </p>
    </div>
  </div>
<!-- Images -->
  <div class="row images-custom-about">
    <div class="small-12 medium-4 medium-offset-2 large-3 large-offset-3 columns">
        <img class="home-custom-img" src="/images/about/conference-type.jpg" alt="Alessio Laiso speaking at a conference">
    </div>
    <div class="small-12 medium-4 large-3 columns">
      <img class="home-custom-img" src="/images/about/books-type.jpg" alt="Typography books">
    </div>
  </div>
</section>


{% endblock%}