{% set title = "Alessio Laiso | Design portfolio" %}
{% set description = "Design portfolio of Alessio Laiso, award-winning software and type designer in Lisbon, Portugal." %}

{% extends "_layout.html" %}

{% block content %}
<!-- Top nav -->
<div class="fixed-custom">
    <nav class="top-bar">
        <a href="/" class="top-bar-title">Alessio Laiso</a>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="hide-for-small-only"><a href="#"><span>Projects</span></a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Hero -->
<header class="expanded hero-home">
    <div class="row large-unstack">
        <div class="small-10 large-6 medium-8 small-offset-1 large-offset-0 columns">
            <h1><strong>Alessio Laiso.</strong> Software and type design.</h1>
        </div>
        <div class="small-10 medium-5 small-offset-1 large-offset-0 large-3 columns">
            <p class='bio-home'>Alessio has designed award-winning <strong>software</strong> and experiences enjoyed by
                millions of&nbsppeople around the world. In addition to this, he has been designing
                <strong>typefaces</strong> since 2013. His fonts have been used by brands like eBay, Amazon, and
                USA&nbspToday.</p>
        </div>
        <div class="small-10 small-offset-1 medium-offset-0 medium-5 large-3 columns">
            <p class="experience-home">Before joining <strong>Zalando</strong> in Lisbon, Alessio has previously worked in Dublin with
                <strong>IBM</strong> and <strong>CarTrawler</strong>, in Austria at <strong>Runtastic</strong> (adidas Group), and in Rome at <strong>Vertigo Design</strong> - for clients like Mercedes-Benz, P&G, and the
                European Space Agency.</p>
        </div>
    </div>
</header>
<!-- Projects -->
<section class="projects-home">
    <div class="masonry">
        <a href="/ibm">
            <div class="medium-unstack project-home ibm-home">
                <img src="/images/ibm/eye-bee-m-dark.svg" alt="Eye Bee M rebus logo">
                <h4>Being a designer at IBM</h4>
                <p>Contributing to a deep<br> corporate culture renovation</p>
            </div>
        </a>
        <a href="/runtastic-libra" class="show-for-large-only">
            <div class="medium-unstack project-home libra-home">
                <h4>Runtastic<br> Libra for<br>Android</h4>
                <p>Weight-tracking app</p>
                <img src="/images/libra/libra-android-scale.png" alt="The Android robot in front of the Libra scale">
            </div>
        </a>
        <a href="/my-planet-from-space" class="show-for-large-only">
            <div class="medium-unstack project-home planet-home">
                <h4>My planet from space</h4>
                <p>Scientific exhibition</p>
                <img src="/images/my-planet-from-space/my-planet-space-home.jpg"
                    alt="The section about forests of the exhibition, with images of trees and satellite photos">
            </div>
        </a>
        <a href="/print-works" class="show-for-large-only">
            <div class="medium-unstack project-home print-home">
                <img src="/images/print/print-home.jpg" alt="Postcards from the branding of Le ali del design">
                <h4>Selected print works</h4>
                <p>Publications and event branding</p>
            </div>
        </a>
        <div class="spacer-home show-for-large-only"></div>
        <a href="/ryanair-car-hire">
            <div class="medium-unstack project-home ryanair-home">
                <img src="/images/ryanair/ryanair-car-hire-home.png" alt="Car">
                <h4>Ryanair Car Hire</h4>
                <p>E-commerce platform</p>
            </div>
        </a>
        <a href="/runtastic">
            <div class="medium-unstack project-home runtastic-home">
                <h4>Runtastic</h4>
                <p>Running & fitness app</p>
                <img src="/images/runtastic/runtastic-galaxy.png"
                    alt="Android phone displaying the home screen of the Runtastic app">
            </div>
        </a>
        <a href="/aleo-font" class="show-for-large-only">
            <div class="medium-unstack project-home aleo-home">
                <h4>Aleo font</h4>
                <p>Slab serif type family</p>
                <img src="/images/aleo/aleo-hero.png" alt="The words 'Aleo Slab' written using the Aleo font">
            </div>
        </a>
        <a href="/runtastic-libra" class="hide-for-large-only">
            <div class="medium-unstack project-home libra-home">
                <h4>Runtastic<br> Libra for<br>Android</h4>
                <p>Weight-tracking app</p>
                <img src="/images/libra/libra-android-scale.png" alt="The Android robot in front of the Libra scale">
            </div>
        </a>
        <a href="/aleo-font" class="hide-for-large-only">
            <div class="medium-unstack project-home aleo-home">
                <h4>Aleo font</h4>
                <p>Slab serif type family</p>
                <img src="/images/aleo/aleo-hero.png" alt="The words 'Aleo Slab' written using the Aleo font">
            </div>
        </a>
        <a href="/my-planet-from-space" class="hide-for-large-only">
            <div class="medium-unstack project-home planet-home">
                <h4>My planet from space</h4>
                <p>Scientific exhibition</p>
                <img src="/images/my-planet-from-space/my-planet-space-home.jpg"
                    alt="The section about forests of the exhibition, with images of trees and satellite photos">
            </div>
        </a>
        <a href="/sleep-better">
            <div class="medium-unstack project-home sleep-home">
                <h4>Sleep better<br> with Runtastic</h4>
                <p>Sleep tracking app</p>
                <img src="/images/sleep-better/sleep-better-home-ipad.png"
                    alt="An iPad displaying the session detail screen of the Sleep Better app">
            </div>
        </a>
        <a href="/print-works" class="hide-for-large-only">
            <div class="medium-unstack project-home print-home">
                <img src="/images/print/print-home.jpg" alt="Postcards from the branding of Le ali del design">
                <h4>Selected print works</h4>
                <p>Publications and event branding</p>
            </div>
        </a>
    </div>
</section>
{% endblock%}
