{% set title = "Runtastic Libra | Alessio Laiso" %}
{% set description = "The companion app of Runtastic’s smart scale helps people keep track of their weight and body composition, setting and achieving healthy goals." %}

{% extends "_layout.html" %}
{% block content %}
<!-- Top nav -->
<div class="fixed-custom">
    <nav class="top-bar">
        <a href="/" class="top-bar-title">Alessio Laiso</a>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="hide-for-small-only"><a href="/">Projects</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Hero -->
<header class="hero-project">
    <div class="row">
        <div class="medium-10 medium-offset-1 large-offset-0 large-7  columns">
            <h1>Runtastic Libra for Android</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 medium-offset-1 large-offset-0 large-7 columns">
            <p>The companion app of Runtastic’s smart scale helps people keep track of their weight and body
                composition, setting and achieving healthy goals.</p>
        </div>
    </div>
    <div class="row project-info libra-project">
        <div class="small-4 medium-2 medium-offset-1 large-offset-0 columns">
            <h5 class="first-project-info">Company</h5>
            <p>Runtastic</p>
        </div>
        <div class="small-8 medium-6 large-3 columns">
            <h5>Timeframe</h5>
            <p>Dec 2014–Feb 2015</p>
        </div>
        <div class="show-for-large-only large-2 columns"></div>
        <div class="large-5 columns">
            <img class="show-for-large-only" src="images/libra/libra-nexus5.png">
        </div>
    </div>
</header>
<!-- Story -->
<section class="project-main small-12 columns">
    <div class="project-story libra-project">
        <h6 id="why-it-was-needed">Why it was needed</h6>
        <h3>Many users left behind</h3>
        <p>Runtastic Libra is a smart scale that analyses body metrics — including weight, body fat and water percentage
            — and can transfer data to a smartphone using Bluetooth. The company had launched the scale in the Fall
            2013, but one year later the companion app was still only available for iOS. Customers were often writing to
            the support team and on social media, asking when the Android app would finally be released. Note: after Runtastic
            was aquired by Adidas in August 2015, the company stopped selling hardware and in September 2019 it discontinued the 
            Libra app.</p>
        <figure>
            <img src="images/libra/android-robot-libra-scale.jpg" alt="The Android robot in front of the Libra scale">
            <figcaption>The Android robot shows you the Runtastic Libra scale. Photo: Jakob Lehner.</figcaption>
        </figure>
        <h6 id="my-role-and-the-team">My role and the team</h6>
        <h3>Fantastic team work</h3>
        <p>I was the lead designer of the Android app, discussing the screens with the designer who had worked on the
            iOS version, and working closely with the developers who were implementing the UI. The synergy with the
            project manager and the developers was great, and led to a great human and professional esteem among the
            members of the team.</p>
        <figure class="libra-animation">
            <img src="images/libra/libra-animation.gif" alt="The Android robot in front of the Libra scale">
            <figcaption>Opening a measurement from the weight history.</figcaption>
        </figure>
        <h6 id="design-process">Design process</h6>
        <h3>Working with user insights</h3>
        <p>The iOS design was taken as a starting point for the Android app, to offer a consistent experience across the
            platforms. Rather than just reskinning the iOS app, and improving from what we learned on the <a
                href="/sleep-better">Sleep Better</a> project, we gathered feedback from existing users to see how we
            could improve the experience. We identified and interviewed some people from other teams in the company who
            were using the scale with the iOS app, as well as some external users, with the help of the Support team.
        </p>
        <figure>
            <img src="images/libra/libra-galaxy.png" alt="Two Android phones showing two screens of Libra">
            <figcaption>The home screen of the app (left), and the screen that is displayed while a measurement is in
                progress (right).</figcaption>
        </figure>
        <p class="p-between-img">While a few users complained about Bluetooth connectivity issues with the scale, the
            general feedback about the UX was positive. However, the graph showing the history of the measurements was
            obscure to many. The redesign of the legend at the right of the graph, with clear units of measurements for
            both weight and body fat percentage, led to a massive improvement in our usability testing sessions.</p>
        <figure>
            <img src="images/libra/libra-weight-history-graph.png"
                alt="The weight history graph on iOS and Android. the Android version adds the units of measurement.">
            <figcaption>A comparison of the weight history graph in the old iOS design (left) and Android (right), with
                the redesigned legend at the right of the graph.</figcaption>
        </figure>
        <p class="p-between-img">Some power users also complained it was hard to keep track of changes in their body
            composition. Opening one measurement at a time — and remembering each value — was the only way to do so. To
            make this comparison easier, we decided to provide the users with a full body composition graph showing the
            percentages of each value (body fat, muscles, tissue, bones) as they change through time.<br> <br>In
            addition to this, when users set goals in the app (like “lose 4 kg by the 1st of June”) they were not able
            to see how they were progressing toward that goal in the weight history graph. With the addition of a simple
            dashed line, we made that very easy to understand at a glance.</p>
        <figure>
            <img src="images/libra/libra-graphs.png"
                alt="The full screen body composition graph, and the weight history screen, which includes a graph of the measurements on the top and a list at on the bottom">
            <figcaption>The full body composition graph (left) satisfies the requests of power users. The dashed line
                (right) makes it easy to see the progress toward your goal.</figcaption>
        </figure>
        <h6 id="outcomes">Outcomes</h6>
        <h3>Delighted users and a close-knit team</h3>
        <p>The Runtastic community was really happy to finally be able to use the Libra scale with Android devices. The
            interface is one of the most praised aspects of the app in the reviews in the Store. In addition to this,
            the great team work on this project made the whole team look forward to working together again in our next
            project.</p>
        <figure class="libra-reviews">
            <img src="images/libra/libra-reviews.png" alt="Two 5-stars reviews from the Play Store">
        </figure>
    </div>
</section>
<!-- Project nav -->
<nav class="project-nav expanded row">
    <a class="previous-project small-6 columns" href="/runtastic">
        <p class="project-nav-text prev-nav-text">Previous</p>
        <p class="project-nav-title prev-title">Runtastic</p>
    </a>
    <a class="next-project small-6 columns" href="/aleo-font">
        <p class="project-nav-text next-nav-text">Next</p>
        <p class="project-nav-title next-title">Aleo font</p>
    </a>
</nav>
{% endblock %}
