{% set title = "Zalando Business Platform | Alessio Laiso" %}
{% set description = "The Business Platform unifies the tools that allow Zalando's marketing team, external influencers and fashion brands to seamlessly collaborate and reach the right users with the right content, including promotional campaigns, inspirational outfits and new collections." %}

{% extends "_layout.html" %}
{% block content %}
<!-- Top nav -->
<div class="fixed-custom">
    <nav class="top-bar">
        <a href="/" class="top-bar-title">Alessio Laiso</a>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="hide-for-small-only"><a href="/">Projects</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Hero -->
<header class="hero-project">
    <div class="row">
        <div class="medium-10 medium-offset-1 large-offset-0 large-7  columns">
            <h1>Zalando Business Platform</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 medium-offset-1 large-offset-0 large-7 columns">
            <p>The Business Platform unifies the tools that allow Zalando's marketing team, external influencers and fashion 
                brands to seamlessly collaborate and reach the right users with the right content, including promotional campaigns, 
                inspirational outfits and new collections.</p>
        </div>
    </div>
    <div class="row project-info zalando-project">
        <div class="small-4 medium-2 medium-offset-1 large-offset-0 columns">
            <h5 class="first-project-info">Company</h5>
            <p>Zalando</p>
        </div>
        <div class="small-8 medium-6 large-3 columns">
            <h5>Timeframe</h5>
            <p>Jun 2018–Jun 2019</p>
        </div>
        <div class="show-for-large-only large-2 columns"></div>
        <div class="large-5 columns">
            <img class="show-for-large-only" src="images/zalando/zalando-boxes.png">
        </div>
    </div>
</header>
<!-- Story -->
<section class="project-main small-12 columns">
    <div class="project-story zalando-project">
        <h6 id="challenges-and-goals">Challenges and goals</h6>
        <h3>Simplifying content creation</h3>
        <p>Zalando is Europe’s leading online fashion store, with over 29 million active customers in 17 countries. 
            The creation of marketing activities is a crucial part of Zalando's business, since the more content is 
            created, the better it can be targeted at specific users, who will receive recommendations that are more relevant 
            for them.</p>
        <figure>
            <img src="images/zalando/zalando-home-tablet.png" alt="Zalando's homepage">
            <figcaption>When users land on Zalando's homepage, they see inspirational and promotional content targeted to them. 
                This content is created by the marketing team, together with fashion brands and influencers.</figcaption>
        </figure>
        <p>Inspirational and marketing content for Zalando used to be created using a mix of 8 different tools, ranging from 
            custom internal applications to large complex spreadsheets that had to be updated manually every week and then 
            shared with the team. Processes were cumbersome and very manual, slowing down collaboration and making it painfully 
            slow to fix mistakes - especially troublesome when a problem was spotted on content that was already live.</p>
        <figure>
            <img src="images/zalando/persona-user-journey.png" alt="Two slides showing a persona and a user journey map">
            <figcaption>After our initial round of user interviews, we outlined a set of personas and user journey maps, 
                uncovering the steps and pain points of the process before the Business Platform was launched.</figcaption>
        </figure>
        <h6 id="my-role-and-the-team">My role and the team</h6>
        <h3>Driving a user-centred shift</h3>
        <p>I was the lead designer in Zalando's Parterships team. Working in a pair with another designer, I established 
            a user-centred practice and ran the whole design process, from planning and running user research, to producing 
            the final UI and working with the developers on implementation.  We were collaborating closely with the 
            engineering team and two product owners who looked after different areas of the Platform. The team was located 
            between Lisbon and Berlin.</p>
        <figure>
            <img src="images/zalando/zalando-design-workshop.jpg" alt="A group of people talking during a design workshop">
            <figcaption>We ran Design Thinking workshops with stakeholders from different areas of the business, to get a common 
                understanding of the problems and generate ideas together.</figcaption>
        </figure>
        <h6 id="design-process">Design process</h6>
        <h3>Iterating on user feedback</h3>
        <p>At the very beginning of the project, I got buy-in from the stakeholders to run the project 
            following a user-centred method, which was a first for the Partnerships team. This way, we got to run extensive 
            user research throughout the process, so we could understand our users, get feedback from them, and quickly iterate on our 
            designs. Every 7-10 days, the design team would playback the status of the project to representatives of product, 
            engineering and other stakeholders, to make sure everyone was always on the same page and key decisions could be 
            taken together. This approach was crucial in shaping the product strategy for the Business Platform.
        </p>
        <figure>
            <img src="images/zalando/business-platform-mockups.png" alt="Two user interface mockups">
            <figcaption>Mixed fidelity mockups allowed us to quickly iterate and present new flows after the initial Business 
                Platform launch, keeping the general structure cohesive.</figcaption>
        </figure>
        <p class="with-ul">Over the course of the project, we built a centralised tool that allows Zalando's marketing team, fashion brands and influencers to create:
            <ul>
                <li>Promotional campaigns: to populate the home page with fashion trends, hot brands, and the commercially important sales such as Black Friday and Christmas deals.</li>
                <li>Collections: to show groups of related items to customers, both via organic recommendations as well as via promotional campaigns.</li>
                <li>Outfits: real-life examples of how to wear combinations of items, typically made together with influencers external to Zalando.</li>
              </ul>
        </p>
        <figure>
            <img src="images/zalando/business-platform-collections.png"
                alt="The main Collection screen on the Zalando Business Platform.">
            <figcaption>The main screen for Collections on the Business Platform allows users to easily find existing 
                collections and create new ones.</figcaption>
        </figure>
        <p>For each of these workstreams, we had a consistent vision of enabling users to collaborate through an experience 
            that was cohesive, flexible and transparent. We reduced the amount of required steps and data, empowering asynchronous 
            collaboration and solving problems that the marketing team had had for years. We set up experience-based roadmaps for 
            each workstream, to guarantee that the MVP brought value to our users, and that we could then grow the Business 
            Platform in a consistent and sustainable way, always informed by user research.</p>
        <p>Another key part of this project was the collaboration with the designers who looked after the Zalando Design System, 
            which we expanded to support our productivity use cases while ensuring consistency.</p>
        <figure>
            <img src="images/zalando/business-platform-review.png"
                alt="The 'review & submit' screen">
            <figcaption>The Business Platform allows users to review submissions for all of Zalando's 17 markets at a glance, without 
                having to go through each pipeline separately like in the previous tools.</figcaption>
        </figure>
        <h6 id="outcomes">Outcomes</h6>
        <h3>Increased user satisfaction (and sales)</h3>
        <p>Focusing on the users paid off. Having the marketing team collaborating with influencers and brands in a centralised 
            platform made the campaign creation process 140% faster, and the user-centred method helped us achieve a 66% increase 
            in user satisfaction in our digital marketing tools. For the first time ever, Zalando's marketing team felt like the 
            tools that were being built for them successfully solved their problems, and many of the colleagues we interviewed 
            became evangelists of the Business Platforms with their peers. Thanks also to the content created via the Business Platform, Zalando's Cyber 
            Week sales increased by 32% compared to the previous year, reaching 7,200 orders per minute at peak times.</p>
    </div>
</section>
<!-- Project nav -->
<nav class="project-nav expanded row">
    <a class="previous-project small-6 columns" href="/ryanair-car-hire">
        <p class="project-nav-text prev-nav-text">Previous</p>
        <p class="project-nav-title prev-title">Ryanair Car Hire</p>
    </a>
    <a class="next-project small-6 columns" href="/runtastic">
        <p class="project-nav-text next-nav-text">Next</p>
        <p class="project-nav-title next-title">Runtastic</p>
    </a>
</nav>
{% endblock %}
