{% set title = "About | Alessio Laiso" %}
{% set description = "About Alessio Laiso, Software and Type Designer." %}

{% extends "_layout.html" %}
{% block content %}
<!-- Top nav -->
<div class="fixed-custom">
   <nav class="top-bar">
    <a href="/" class="top-bar-title">Alessio Laiso</a>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="hide-for-small-only"><a href="/">Projects</a></li>
            <li><a href="#"><span>About</span></a></li>
        </ul>
    </div>
    </nav>
</div>
<!-- Work experience -->
<header class="work-experience-about about-page">
    <div class="row">
        <div class="medium-10 medium-offset-1 large-offset-0 columns">
            <h1>Work experience</h1>
        </div>
    </div>
    <div class="row cartrawler-about">
        <div class="columns small-12 medium-10 medium-offset-1 large-offset-0 large-2">
            <img alt="CarTrawler logo" src="/images/about/cartrawler.png">
        </div>
        <div class="columns medium-10 medium-offset-1 large-offset-0 large-8">
            <h5>Dublin, Ireland. May 2017–present</h5>
            <h2>Senior UI/UX designer at CarTrawler</h2>
            <p>CarTrawler is the world’s leading platform connecting customers and travel companies to car hire and ground
                transportation solutions. As the lead designer in the Strategic Business team, I take care of all the
                design efforts for CarTrawler’s most important commercial partners, including Europe’s largest airline,
                Ryanair.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-10 medium-offset-1 large-offset-0 large-2">
            <img alt="IBM logo" src="/images/about/ibm.png">
        </div>
        <div class="columns medium-10 medium-offset-1 large-offset-0 large-8">
            <h5>Dublin, Ireland. Jan 2016–May 2017</h5>
            <h2>UI/UX designer at IBM</h2>
            <p>I was a designer for the IBM Security product portfolio. This division of IBM helps companies establish a
                holistic and mature cybersecurity approach. What I did with my team is a combination of both vision/strategy
                work and more tactile Agile sprints. The activities I did here included user research, user experience
                design, visual design and user testing.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-10 medium-offset-1 large-offset-0 large-2">
            <img alt="IBM logo" src="/images/about/runtastic.png">
        </div>
        <div class="medium-10 medium-offset-1 large-offset-0 large-8 columns">
            <h5>Linz, Austria. Sep 2014–Dec 2015</h5>
            <h2>UI/UX & graphic designer at Runtastic</h2>
            <p>Runtastic is part of the adidas Group. With over 100 million registered users, it’s a leader in the digital health and fitness space. Here I was part of the Mobile UI/UX team, mostly working on the Runtastic suite of apps for smartphones, while also helping with other graphic design projects.</p>
        </div>
    </div>
    <div class="row vertigo-about"> <!-- Vertigo -->
        <div class="small-12 medium-10 medium-offset-1 large-offset-0 large-2 columns">
            <img src="/images/about/vertigo.png" alt="IBM logo">
        </div>
        <div class="medium-10 medium-offset-1 large-offset-0 large-8 columns">
            <h5>Rome, Italy. Jul 2013–Aug 2014</h5>
            <h2>Graphic designer at Vertigo Design</h2>
            <p>Vertigo is one of Rome’s most important design agencies, working for clients like Mercedes-Benz, P&G, and the European Space Agency. Here I’ve worked on multiple high-profile digital, print, and exhibition projects.</p>
        </div>
    </div>
</header>
<!-- Brands -->
<section class="small-12 columns brands-about about-page">
    <div class="row">
        <div class="medium-10 medium-offset-1 large-offset-0 columns">
            <h1>Some of the brands I’ve worked with</h1>
        </div>
    </div>
    <div class="medium-10 medium-offset-1 large-offset-0 large-12 columns">
        <div class="row small-up-2 medium-up-3 large-up-4">
            <div class="column"><img src="/images/about/ibm-brands.png" alt="IBM"></div>
            <div class="column"><img src="/images/about/runtastic-brands.png" alt="Runtastic"></div>
            <div class="column"><img src="/images/about/aboca.png" alt="Aboca"></div>
            <div class="column"><img src="/images/about/basaltina.png" alt="Basaltina"></div>
            <div class="column"><img src="/images/about/censis.png" alt="Censis"></div>
            <div class="column"><img src="/images/about/esa.png" alt="Esa"></div>
            <div class="column"><img src="/images/about/isia.png" alt="ISIA Roma Design"></div>
            <div class="column"><img src="/images/about/laura-biagiotti.png" alt="Laura Biagiotti"></div>
            <div class="column"><img src="/images/about/leonardo.png" alt="Leonardo"></div>
            <div class="column"><img src="/images/about/mercedes-benz.png" alt="Mercedes-Benz"></div>
            <div class="column"><img src="/images/about/p-g.png" alt="P&G"></div>
            <div class="column"><img src="/images/about/rai.png" alt="Rai"></div>
        </div>
    </div>
</section>
<!-- Find out more -->
<section class="small-12 columns find-out-more-about about-page">
    <div class="row">
        <div class="medium-10 medium-offset-1 large-offset-0 columns">
            <h1>Want to find out more?</h1>
            <p>Read my <a href="http://www.linkedin.com/in/alessiolaiso" target="_blank">LinkedIn profile</a>, or send me an <a href="mailto:hello@alessiolaiso.com">email</a>.</p>
        </div>
    </div>
</section>
{% endblock %}
