{% set title = "Selected print works | Alessio Laiso" %}
{% set description = "A selection of some print works I’ve done for multiple clients during my time at Vertigo Design." %}

{% extends "_layout.html" %}
{% block content %}
<!-- Top nav -->
<div class="fixed-custom">
   <nav class="top-bar">
    <a href="/" class="top-bar-title">Alessio Laiso</a>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="hide-for-small-only"><a href="/">Projects</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    </nav>
</div>
<!-- Hero -->
<header class="hero-project">
    <div class="row">
        <div class="medium-10 medium-offset-1 large-offset-2 large-8 columns">
            <h1>Selected print works</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 medium-offset-1 large-offset-2 large-8 columns">
            <p>Although lately I’ve been focusing on digital products, I’ve had the pleasure of working on many print works. Here’s a selection of some works I’ve done for multiple clients during my time at Vertigo Design.</p>
        </div>
    </div>
    <div class="row project-info print-project">
        <div class="small-5 medium-3 medium-offset-1 large-offset-2 columns">
            <h5 class="first-project-info">Agency</h5>
            <p>Vertigo Design</p>
        </div>
        <div class="small-7 medium-6 large-3 columns">
            <h5>Timeframe</h5>
            <p>Jul 2013–Aug 2014</p>
        </div>
    </div>
</header>
<!-- Story -->
<section class="project-main small-12 columns">
    <div class="project-story print-project">
        <h6 id="annual-report-rai">Publication proposal</h6>
        <h3>Annual report proposal for RAI, Italian television</h3>
        <p>Our bold proposal for the 2013 Annual Report placed second in a national competition held by RAI. It featured many infographics and strong typographic elements.</p>
        <figure>
            <img src="images/print/print-rai.jpg" alt="Two pages from the report, with a bright blue background and large infographics">
        </figure>
        <h6 id="finmeccanica" class="print-spacer">Event branding</h6>
        <h3>Finmeccanica at Farnborough 2014</h3>
        <p>Identity for Finmeccanica (now Leonardo) at the 2014 Farnborough International Airshow. The project included print materials as well as the digital identity and the branding of the exhibition spaces.</p>
        <figure>
            <img src="images/print/print-finmeccanica.jpg" alt="The detail of a glossy double F logo, and the visitor map for the event.">
        </figure>
        <h6 id="le-ali-del-design" class="print-spacer">Event branding</h6>
        <h3>Le ali del design</h3>
        <p>Identity for the Italian National Arts Award 2013 (Premio Nazionale delle Arti), held in Pescara.</p>
        <figure>
            <img src="images/print/print-ali-design.jpg" alt="The postcards made for the event, and a banner in the streets of Pescara with the event branding">
        </figure>
        <h6 id="mercedes-benz" class="print-spacer">Publication</h6>
        <h3>AutoRitratto: 40 years of Mercedes-Benz in Italy</h3>
        <p>The book tells the story of Mercedes-Benz in Italy, for the 40th anniversary of the brand in this country.</p>
        <figure>
            <img src="images/print/print-mercedes.jpg" alt="Two pages of the book, and the cover, which has a circular hole that lets you see some photos.">
        </figure>
        <h6 id="aboca" class="print-spacer">Publication</h6>
        <h3>Aboca, innovation for health</h3>
        <p>Aboca uses the language of infographics to explain how nature can improve the human health.</p>
        <figure>
            <img src="images/print/print-aboca.jpg" alt="Two pages of the publication. The right page features a large infographic.">
        </figure>
    </div>
</section>
<!-- Project nav -->
<nav class="project-nav expanded row">
    <a class="previous-project small-6 columns" href="/sleep-better">
        <p class="project-nav-text prev-nav-text">Previous</p>
        <p class="project-nav-title prev-title">Sleep better with Runtastic</p>
    </a>
    <div class="small-6 columns"></div>
    <!--<a class="next-project small-6 columns" href="/print-works">
        <p class="project-nav-text next-nav-text">Next</p>
        <p class="project-nav-title next-title">Selected print works</p>
    </a>-->
</nav>
{% endblock %}
